<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
	backupGlobals="true"
	bootstrap="./Test/bootstrap.php"
	beStrictAboutTestsThatDoNotTestAnything="false"
	colors="true">

	<testsuites>
		<testsuite name="WPThemeReview">
			<directory suffix="Test.php">./WPThemeReview/Tests/</directory>
		</testsuite>
	</testsuites>

	<php>
		<!-- This line prevents issues with PHPCS trying to load sniff files for
			 standards which we aren't testing.
			 Ref: https://github.com/squizlabs/PHP_CodeSniffer/pull/1146 -->
		<env name="PHPCS_IGNORE_TESTS" value="PHPCompatibility,WordPress"/>
	</php>
</phpunit>
